<h3 class="text-lg font-bold">List of Messages</h3>

<div class="mb-2 p-2 border border-gray-light">
  <p>Reactive form</p>

  <!-- Location Control -->
  <select
    [formControl]="locationControl"
    autocomplete="off"
    type="text"
    placeholder="Location"
  >
    <option value="inbox">Inbox</option>
    <option value="sent">Sent</option>
    <option value="draft">Draft</option>
    <option value="trash">Trash</option>
    <option value="outbox">Outbox</option>
  </select>

  <!-- Search Control -->
  <input
    [formControl]="searchControl"
    autocomplete="off"
    type="text"
    placeholder="Search"
  />
  <small class="text-sm">value: {{ searchControl.value }}</small>
</div>

<div [@listAnimation]>
  <app-message-list-item
    *ngFor="let item of items"
    [message]="item"
    (messageClicked)="onMessageClicked($event)"
  ></app-message-list-item>
</div>
