<h3 class="text-lg font-bold">List of Messages</h3>

<div class="mb-2 p-2 border border-gray-light">
  <p>Reactive formgroup</p>
  <form [formGroup]="formGroup">
    <!-- Location Select -->
    <select
      required
      formControlName="location"
      autocomplete="off"
      type="text"
      placeholder="Location"
    >
      <option value="inbox">Inbox</option>
      <option value="sent">Sent</option>
      <option value="draft">Draft</option>
      <option value="trash">Trash</option>
      <option value="outbox">Outbox</option>
    </select>

    <!-- Search Input -->
    <input
      formControlName="search"
      autocomplete="off"
      type="text"
      placeholder="Search"
    />
    <small *ngIf="formGroup.valid" class="text-sm"
      >value: {{ formGroup.value | json }}</small
    >
    <div *ngIf="!formGroup.valid" class="text-sm">
      <h5>Invalid Form</h5>

      <li *ngFor="let control of formGroup.controls | keyvalue">
        {{ control.key }}:
        {{ control.value.valid ? "ok" : (control.value.errors | json) }}
      </li>
    </div>
  </form>
</div>

<div [@listAnimation]>
  <app-message-list-item
    *ngFor="let item of items"
    [message]="item"
    (messageClicked)="onMessageClicked($event)"
  ></app-message-list-item>
</div>
